<div class="container">
    <form id="addList">
        <div class="row">
        <input class="form-control col-10" type="text" id="addBarText" placeholder="Add the Company by ticker (AAPL,FB,GOOG)" aria-label="Search">
        <input class="btn btn-primary col-2" type="submit" value="Add">
        </div>
    </form>
    <div id="lists">

    </div>
</div>

<script src="js/lists.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
